<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="XHostingAPPEntities" connectionString="metadata=res://*/src.DB.csdl|res://*/src.DB.ssdl|res://*/src.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=XHostingAPP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>